@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
h1,h2,li,p{
	font-family: 'Gochi Hand', cursive;
}
.shadow{
	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
	box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
}
iframe{
	border: 1px solid gray;
	background-color: #fff;
}
img{
	display: block;
	width: 80%;
	margin: 0 auto;
}
#tabs{
	background-image:url(images/bgnoise.png);
	width: 80%;
	margin: 0 auto;
	background-repeat:repeat;
}

/* START PUPPY BLOCKS */

div[id^="puppy"]{
	display: block;
	float: left;
	width: 100px;
	height: 80px;
	margin-right:30px;
	border: 1px solid gray;
	background-repeat: no-repeat;
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
#puppy1{
	background-image: url(images/puppy1.jpg);
}
#puppy1:hover{
	-webkit-transform: translate(-3em,-3em);
    -moz-transform: translate(-3em,-3em);
    -o-transform: translate(-3em,-3em);
    -ms-transform: translate(-3em,-3em);
    transform: translate(-3em,-3em);
}
#puppy2{
	background-image: url(images/puppy2.jpg);
}
#puppy2:hover{
	-webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
#puppy3{
	background-image: url(images/puppy3.jpg);
}
#puppy3:hover{
	-webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
}
#puppy4{
	background-image: url(images/puppy4.jpg);
}
#puppy4:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
#puppy4 + h2{
	clear: left;
	padding-top: 40px;
}

/* END PUPPY BLOCKS */


/* START FANCY MENUS */

#menu-bar {
  width: 95%;
  margin: 0;
  padding: 6px 6px 4px 6px;
  height: 30px;
  line-height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #29F8FF,  #6E86FF);
  background: -ms-linear-gradient(top,  #29F8FF,  #6E86FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#29F8FF), to(#6E86FF));
  background: -moz-linear-gradient(top,  #29F8FF,  #6E86FF);
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin-bottom: 6px;
  padding: 0px 6px 9px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: normal;
  font-family: helvetica;
  font-style: normal;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #17D430;
  background: linear-gradient(top,  #17EB34,  #D6FF30);
  background: -ms-linear-gradient(top,  #17EB34,  #D6FF30);
  background: -webkit-gradient(linear, left top, left bottom, from(#17EB34), to(#D6FF30));
  background: -moz-linear-gradient(top,  #17EB34,  #D6FF30);
  color: #444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #fff;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
  background: #20DD0B;
  background: linear-gradient(top,  #E9FFE0,  #9CF8FF);
  background: -ms-linear-gradient(top,  #E9FFE0,  #9CF8FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#E9FFE0), to(#9CF8FF));
  background: -moz-linear-gradient(top,  #E9FFE0,  #9CF8FF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 40px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
  width: 920px;
}
html[xmlns] #menu-bar {  /* IE5 and 6 don't recognize this, so it'll render properly */
  display: block;
}

/* END FANCY MENUS */


/* PRICING TABLE STYLES */

#pricing-table {
	padding-top: 20px;
	text-align: center;
	width: 928px;
	zoom: 1;
}

#pricing-table:before, #pricing-table:after {
	content: "";
	display: table;
}

#pricing-table:after {
	clear: both
}

#pricing-table .plan {
	font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 180px;
	float: left;
	display: inline; /* IE6 double margin fix */
	position: relative;
	margin: 0 5px;	
}

#pricing-table .plan:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 10px;
  right: 4px;
  width: 80%; 
  top: 80%; 
  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);   
  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  -webkit-transform: rotate(3deg);    
  -moz-transform: rotate(3deg);   
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);	
}	

#pricing-table .popular-plan {
	top: -20px;
	padding: 40px 20px;   
}	

#pricing-table .header {
	position: relative;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 40px;
	margin: -20px -20px 20px -20px;
	border-bottom: 8px solid;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

#pricing-table .header:after {
	position: absolute;
	bottom: -8px; left: 0;
	height: 3px; width: 100%;
	content: '';
	background-image: url(images/bar.png);
}

#pricing-table .popular-plan .header {
	margin-top: -40px;
	padding-top: 60px;		
}

#pricing-table .plan1 .header{
	border-bottom-color: #B3E03F;
}

#pricing-table .plan2 .header{
	border-bottom-color: #7BD553;
}

#pricing-table .plan3 .header{
	border-bottom-color: #3AD5A0;
}

#pricing-table .plan4 .header{
	border-bottom-color: #45D0DA;
}			

#pricing-table .price{
	font-size: 45px;
}

#pricing-table .monthly{
	font-size: 13px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #999;
}

#pricing-table ul {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	padding: 10px 0;
}
	
#pricing-table .signup {
	position: relative;
	padding: 10px 20px;
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #72ce3f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	opacity: .9;       
}

#pricing-table .signup:hover {
	opacity: 1;       
}

#pricing-table .signup:active {
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;       
}			

#pricing-table .plan1 .signup{
	background: #B3E03F;
}

#pricing-table .plan2 .signup{
	background: #7BD553;
}

#pricing-table .plan3 .signup{
	background: #3AD5A0;
}

#pricing-table .plan4 .signup{
	background: #45D0DA;
}	

/* END PRICING TABLE STYLES */